body{
   
    background: #1a1a1a;
}
.rellax-css{
    background: white;
    z-index: 20;
    width: 20em;
    height: 20em;
    flex: wrap;
}

.welcome-screen{
    overflow: hidden;
    width: 100%;
    height: 80%;
}

.welcome-div{
    position: fixed;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    
    transform: translate(-50%, -50%);
    height: 15em;
}
.welcome{
    position: relative;
    z-index: 99;
    height: 100vh;
}

.welcome-name{
    font-size: 1em;
}


.welcome-webdev{
    font-size: 2em;
    color: #6c6a70;
}

.downward-arrow{
    height: .8em;
}

.view-work{
    color: rgba(231, 213, 213, 0.699);
    font-size: 1em;
    letter-spacing: .1em;
    text-decoration: none;
    color: grey;
    border: 3px solid #6465a1;
    padding-bottom: .3em;
    padding-left: 2em;
    padding-right: 1.4em;
    transition: .5s;

}

.view-work:hover{
    box-shadow: 0 0 2em #7464a1;
    letter-spacing: .25em;
    color: #1a1a1a;
    background: #7464a1;
}


.small-welcome{
    font-size: 36px;
    color: grey;
}
.welcome-text{
    color: grey;
    justify-content: center;
    align-items: center;
    font-size: 48px;
}

.welcome-button{
    height: 2em;
    width: 6em;

}


.profile-pic{
    height: 10em;
}


.welcome-name{
    color: #7464a1;
}


.btn{
    border-radius: 3em;
    height: 3em;
    color: #1a1a1a;
    padding-top: .7em;
    text-align: center;
}

.git{
    position: relative;
}

.navbar-padding{
    padding: 1%;
}

.nav-item{
    padding-left: 2.5em;
}


.about-me{
    line-height: 1.6;
    text-decoration: none; 
    position: relative; 
    padding-top: 3em;

}



.about-me::after{
    position: absolute;
    height: .1em;
    border-radius: 4em;
    margin: 0 auto;
    content: '';
    right: 0;
    left: 4em;
    width: 60%;
    color: #000;
    background-color: white;
    left: 0;
    bottom: -3px;
}




.logo{
    color: #0e3742;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
    outline: none;
    line-height: .70em;
    animation: animate 5s linear infinite;
}


@keyframes animate {
    0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92%{
        color: #4c3196;
        text-shadow: none;
    }

    18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100%{
        color: #ffffff;
        text-shadow: 0 0 10px #7464a1,
        0 0 20px #7464a1,
        0 0 40px #7464a1,
        0 0 80px #7464a1,
        0 0 160px #7464a1;
    }
    
}


@media (max-width:830px){
    .nav-item{
        padding-left: 1.5em;
    }
}

@media (max-width:765PX){
    .nav-item{
        padding-left:0;
    }
}


p{
    font-size: 1.3em;
}

.my-name{
    font-size: 2.3em;
}
.intro{
    color: #757379d0;
}

.intro-background{
    height: 100%;
}


.intro-paragraph{
    padding-top: 3em;
    padding-bottom: 5em;
}

.intro-end{
    margin-bottom: 5em;
}

.about-me-text{
    padding-right: 4em;
}



.about-me-skills{

    height: 10em;
    margin-bottom: 2em;

    border: double 3px transparent;

    border-image-slice: 1;
    border-width: 3px;
    background-image: linear-gradient(#181717, #181717),
      radial-gradient(circle at top left, #7464a1, black);
    border-radius: 10px;
    background-origin: border-box;
    background-clip: content-box, border-box;
    
}
#skills{
    background-color: #181717;
}
.skills{
    font-size: 1.5em;
    color: #7464a1;
}

.skills-end{
    padding: 5em;
}
.list-group-item{
    color: grey;
}

.list-group-item-dark{
    background-color: #1a1a1a;
}


.projects{
    color: #7464a1;
    font-size: 1.5em;

}

.projects-header{
    padding: 1em;
}


@media (max-width:1270px){
    .carousel-item-p{
        font-size: 1em;
    }
}

@media (max-width:1025px){
    .carousel-item-p{
        font-size: .6em;
    }
}