body{
   
    background: #1a1a1a;
}
.rellax-css{
    background: white;
    z-index: 20;
    width: 20em;
    height: 20em;
    flex: wrap;
}

.welcome-screen{
    overflow: hidden;
    width: 100%;
    height: 80%;
}

.welcome-div{
    position: fixed;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    
    transform: translate(-50%, -50%);
    height: 15em;
}
.welcome{
    position: relative;
    z-index: 99;
    height: 100vh;
}

.welcome-name{
    font-size: 1em;
}


.welcome-webdev{
    font-size: 1.3em;
    color: #6c6a70;
}

.downward-arrow{
    height: .8em;
}

.view-work-text{
    font-size: 12px;
}

.view-work{
    color: rgba(231, 213, 213, 0.699);

    font-size: 1em;
    letter-spacing: .1em;
    text-decoration: none;
    color: grey;
    border: 2px solid #6465a1;
    padding-bottom: .3em;
    padding-left: 2em;
    padding-right: 1.4em;
    transition: .5s;

}

.view-work:hover{
    box-shadow: 0 0 2em #7464a1;
    letter-spacing: .25em;
    color: #1a1a1a;
    background: #7464a1;
}


.small-welcome{
    font-size: 27px;
    color: grey;
}
.welcome-text{
    color: grey;
    justify-content: center;
    align-items: center;
    font-size: 36px;
}

.welcome-button{
    height: 2em;
    width: 6em;

}


.profile-pic{
    height: 10em;
}


.welcome-name{
    color: #7464a1;
}


.btn{
    border-radius: 3em;
    height: 3em;
    color: #1a1a1a;
    padding-top: .7em;
    text-align: center;
}

.git{
    position: relative;
}

.navbar-padding{
    padding: 1%;
}

.profile-pic{
    height: 8em;
}

.nav-item{
    font-size: .7em;
    padding-left: 2.5em;
}

.mobile-item{
    border-bottom: black solid 1px;
}

.about-me{
    line-height: 1.6;
    text-decoration: none; 
    position: relative; 
    padding-top: 3em;
    font-size: 1.3em;

}



.about-me::after{
    position: absolute;
    height: .1em;
    border-radius: 4em;
    margin: 0 auto;
    content: '';
    right: 0;
    left: 4em;
    width: 60%;
    color: #000;
    background-color: #757379d0;
    left: 0;
    bottom: -3px;
}

.projects-header{
    line-height: 1.6;
    text-decoration: none; 
    position: relative; 
    padding-top: 3em;
    margin-bottom: 1em;
}


.projects-header::after{
    position: absolute;
    height: .1em;
    border-radius: 4em;
    margin: 0 auto;
    margin-bottom: 1em;
    content: '';
    right: 0;
    left: 4em;
    width: 60%;
    color: #000;
    background-color: #757379d0;
    left: 0;
    bottom: -3px;
}




.logo{
    color: #0e3742;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
    outline: none;
    line-height: .70em;
    animation: animate 5s linear infinite;
}


@keyframes animate {
    0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92%{
        color: #4c3196;
        text-shadow: none;
    }

    18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100%{
        color: #ffffff;
        text-shadow: 0 0 10px #7464a1,
        0 0 20px #7464a1,
        0 0 40px #7464a1,
        0 0 80px #7464a1,
        0 0 160px #7464a1;
    }
    
}


@media (max-width:830px){
    .nav-item{
        padding-left: 1.5em;
    }
}

@media (max-width:765PX){
    .nav-item{
        padding-left:0;
    }
}


p{
    font-size: 1.3em;
}

.my-name{
    font-size: 2.3em;
}
.intro{
    margin-bottom: 6em;
    color: #757379d0;
}

.intro-background{
    height: 100%;
}


.intro-paragraph{
    font-size: 1em;
    padding-top: 3em;
    padding-bottom: 5em;
}

.intro-end{
    margin-bottom: 5em;
}

.about-me-text{
    padding-right: 4em;
}
.border-lang{
    padding: 1em;
    margin-bottom: 2em;
    padding-bottom: 0;
    
}

.languages-svg{
    height: 4em;
    width: 4em;
}




#skills{
    background-color: #181717;
}
.skills{
    font-size: 1.5em;
    color: #7464a1;
}

.skills-end{
    padding: 5em;
}


.projects{
    color: #7464a1;
    font-size: 1.5em;

}

.projects-header{
    padding: 1em;
    font-size: 1.3em;
}

.carousel-wrapper{
    width: 80%;
    margin: auto;
}

.carousel-img{
    overflow: hidden;
}

.carousel-item{
    height: 100%;
}

.carousel-control-prev,
.carousel-control-next{
    align-items: flex-end; /* Aligns it at the bottom */

}

.carousel-caption{
    background-color: rgba(0, 0, 0, 0.363);
    border-radius: 20px;
}


.live-app{
    color: white;
    font-size: .8em;
    background: transparent;
    border: white 1px solid;
    border-radius: 8px;
    padding-top: .2em;
    padding-bottom: .2em;
    padding-left: .5em;
    padding-right: .5em;
    transition: .5s;
    text-decoration: none;
}

.live-app:hover{
    box-shadow: 0 0 2em #7464a1;
    letter-spacing: .2em;
    background-color: #7464a1;
    border: #7464a1 1px solid;
    color: black;
}




.carousel-item-p{
    font-size: .7em;
}

@media (max-width:1025px){
    .carousel-item-p{
        font-size: .5em;
    }
}





.contact{
    margin-top: 5.5em;
    color: white;
}


input[type="text"], textarea {

    background-color : #181616; 
    width: 60%;
    border: none;
    color: white;
    margin-bottom: 2em ;
    padding-left: 20px;
    padding-right: 20px;
  }


  #textid::placeholder {

    font-size: 1.2em;
}

  input{
    width: 60%;
    height: 3em;
    color: white;
    background-color : #181616; 
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    
  }

.name-email-box{
    width: 100%;
    margin-bottom: 2em;
}

.submit{
    height: 2.3em;
    width: 6em;
    margin-bottom: 3em;
    border-radius: 4px;
    background-color: grey ;
    border: none;
    box-shadow: inset 0 0 0 0 #4c3196;
    transition: ease-out 0.3s;


}

@media (max-width: 480px){
    input{
        width: 90%;
    }

    input[type="text"], textarea {
        width: 90%;
    }
}

.submit:hover{
    box-shadow: inset 8em 0 0 0 #4c3196;
    
}

.footer{
    background-color: rgb(22, 20, 20);
}
